$primary-blue: #213F7D;
$secondary-blue:#39CDCC;
$red:  #e4033b;
$background_gray:#f8f8f8;
$light-grey: #f0f2f5;
$medium-grey: #e6e8eb;
$text-grey:#545F7D;
$shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$white: #ffffff;
$border-grey:rgba(84, 95, 125, 0.2);